#errorbox 
{
  background-color: rgb(255, 109, 109);
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#errorbox.empty
{
    display: none;
}


#successbox 
{
  background-color: rgb(114, 255, 109);
  color: #000;
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#successbox.empty
{
    display: none;
}


body
{
    background-color: rgb(39, 39, 39);
    color: rgb(236, 236, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#table
{
    color: rgb(236, 236, 236);
    display: block;
}


#titles
{
    color:rgb(66, 135, 245);
    font-weight: 900;
}

button
{
    color: rgb(0, 0, 0);
    background-color: rgb(66, 135, 245);
    width: 125px;
    height: 30px;

}

td
{
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    width: 100px;
}

.pic
{
    margin: auto;
    width: 500px;

    padding: 10px;
}

img 
{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

form 
{
    margin-top: 10px;
}

.content
{
    margin: auto;
    width: 50%;
    border: 2px solid rgb(2, 0, 128);
    padding: 10px;
}


a
{
    text-decoration: none;
    color: rgb(66, 135, 245);
    font-size: larger;
}

a:link 
{ 
    text-decoration: none;
    color: rgb(66, 135, 245);
    font-size: larger; 
}

a:visited 
{ 
    text-decoration: none;
    color: rgb(66, 135, 245);
    font-size: larger;
}

a:hover 
{ 
    text-decoration: none;
    color: rgb(2, 77, 197);
    font-size: larger;
}

a:active
{
    text-decoration: none;
    color: rgb(66, 135, 245);
    font-size: larger;
}


.top-bar 
{
    background-color: rgb(66, 135, 245);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dbimg
{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
}


.navigation 
{
    display: flex;
}

.navigation a 
{
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
}

.navigation a:hover 
{
    text-decoration: underline;
}